### OS X files
*.DS_Store

### LaTeX intermediate files
*.aux
*.lof
*.log
*.out
*.toc

### Result PDF - can be generated using LaTeX
BP_Olejnik_Jakub_2014.pdf

### Intermediate build files
tmp
!tmp/info.txt

### Result binaries
out
!out/info.txt

### Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
BP_Olejník_Jakub_2014.pdf
