[submodule "lib/LXReorderableCollectionViewFlowLayout"]
	path = lib/LXReorderableCollectionViewFlowLayout
	url = https://github.com/lxcid/LXReorderableCollectionViewFlowLayout.git
[submodule "lib/UIImage+PDF"]
	path = lib/UIImage+PDF
	url = https://github.com/mindbrix/UIImage-PDF.git
